@charset "utf-8";
;

@media screen and (max-width: 800px) {

  .column{
    width: 100%;
    padding: 0;
  }
}


@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
    margin: 0%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    margin: 2px;
  }
}
.header {
  background-color:#0B1226;
  padding: 0px;
  text-align: center;
  margin: 0%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.topnav {
  overflow: hidden;
  background-color: #000000;
  margin: 0%;
  font-family: 'Caprasimo', cursive;
  position: sticky;
  top: 0px;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color:#1040cf;
  color: rgb(255, 255, 255);
}

body {
  background-color:#0378A6;
  text-align: justify;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  }

.article2 {
  float: left;
  margin: 5px 30px ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.coluna1{
  margin-left: 20px;
  border-radius: 2px;


}
.introducao{
  margin: 5px 30px;
}
.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  float: left;
  background-color: #000000;
}
p{
  color: aliceblue;

}
h2{
  color: #ffffff;
}
img{
  width: 300px;
}

#duas-colunas{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
.teste{
  display: grid;
  grid-template-columns:299px 1fr;
  margin: 20px;
  
}
.colunas3{
  margin: 20px;
  
}
.grid{
  color: #a60303;
  display: grid;
}