@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&family=Exo:ital@1&display=swap');

@media screen and (max-width: 800px) {

  .column{
    width: 100%;
    padding: 0;
  }
}


@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
    margin: 0%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    margin: 2px;
  }
}

.row{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.header {
  background-color: #E6D948;
  padding: 0px;
  text-align: center;
  margin: 0%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.header h1 {
  font-size: 50px;
}

.topnav {
  overflow: hidden;
  background-color: #000000;
  margin: 0%;
  font-family: 'Caprasimo', cursive;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color:#7163FF;
  color: black;
}

body {
  background-color: white;
  text-align: justify;
  margin: 0%;
  font-family:'PT Sans', sans-serif ;
  }

.article2 {
  float: left;
  margin: 5px 30px ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.coluna1{
  margin-left: 20px;
}


